<link rel="stylesheet" type="text/css" href="/css/contact.css">
<nav>
    <div id="left">
        <div id="img">
            <a href="/users/login"><img src="/images/Peachpuff Brush Stroke Photography Logo.png"></img></a>
        </div>
    </div>
    <div id="right">
        <div class="dropdown" style="display: flex;justify-content: space-around;">
            <a href="/users/login" class="TextinBlock" style="text-decoration:underline;">Home</a>
            <a href="/users/contact" class="TextinBlock" style="text-decoration:none;">Contact</a>
        </div>
    </div>
</nav>

<div class="flex-container animate__animated animate__fadeInUp animate__delay-0.5s animate__slow">
<div class="flex-child one">
<div class="container">
    <div class="wrapper">
      <div class="banner-image" style="background-image: url('/images/resume_pic.jpg')"> </div>
      <h1> Kartik Shukla</h1>
      <p>Phone : 8126352265 <br/>
        kartik_b190697cs@nitc.ac.in</p>
     </div>
     <div class="button-wrapper"> 
       <a class="btn fill" href="https://www.linkedin.com/in/kartik-shukla21/" target="_blank"><i class="fa-brands fa-linkedin"> Linkedin</i></a>
     </div>
       </div>
    </div>

<div class="flex-child two">
   <div class="container">
    <div class="wrapper">
      <div class="banner-image" style="background-image: url('/images/lalit.png')"> </div>
      <h1> Lalit Kushwah</h1>
      <p>Phone : 9171056029<br/>
        lalit_b190557cs@nitc.ac.in</p>
     </div>
     <div class="button-wrapper"> 
       <a class="btn fill" href="https://www.linkedin.com/in/kushwah-lalit/" target="_blank"><i class="fa-brands fa-linkedin"> Linkedin</i></a>
     </div>
       </div>
   
</div>

<div class="flex-child three">
    <div class="container">
     <div class="wrapper">
       <div class="banner-image" style="background-image: url('/images/123.png');
"> </div>
       <h1> Utkarsh Raj</h1>
       <p>Phone : 8492890787<br/>
        utkarsh_b190697cs@nitc.ac.in</p>
      </div>

      <div class="button-wrapper"> 
        <a class="btn fill" href="https://www.linkedin.com/in/uttkarsh-raj-0344a9197/" target="_blank"><i class="fa-brands fa-linkedin"> Linkedin</i></a>
      </div>
        </div>
    
 </div>

</div>