<link rel="stylesheet" type="text/css" href="/css/login.css">
<nav>
    <div id="left">
        <div id="img">
            <a href="/users/login"><img src="/images/Peachpuff Brush Stroke Photography Logo.png"></img></a>
        </div>
    </div>
    <div id="right">
        <div class="dropdown" style="display: flex;justify-content: space-around;">
        <a href="/users/login" class="TextinBlock" style="text-decoration:underline;">Home</a>
        <a href="/users/contact" class="TextinBlock" style="text-decoration:none;">Contact</a>
        </div>
    </div>
</nav>
    <div class="content" >
    	<div id="top" class="animate__animated animate__slideInDown" style="font-size:2.5rem;">
    		Welcome to NITC Notes !
    	</div>
    	<div id="middle" class="animate__animated animate__fadeInUp animate__delay-0.5s animate__slow">
    		Manage your all your notes and documents at a single place. Share them publicy or with your friends personally to help the community.
    	</div>
    	<div id="loginbtn" class=" animate__animated animate__fadeInUp animate__delay-1s">
    		<img src="https://cdn-icons-png.flaticon.com/512/300/300221.png">&nbsp &nbsp<a href="/users/auth/google">Login with Google</a>
    	</div>
    </div>